.btn-type{
    height: 40px;
    background-color: rgb(247, 247, 247);
    border-color:rgb(218, 215, 215);
    
}
.table-striped{
    border-radius: 7px !important;
    border-color: gray !important;
}