.date-filter-container {
    display: flex;
    justify-content: center;
}

.date-filter-group {
    display: flex;
    background-color: #faf7f7;
    border-radius: 0.5rem;
    font-size: .8125rem;
}

.date-filter-button {
    background-color: #faf7f7;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 0.5rem;
}

.date-filter-button.active {
    background-color: #4b9bec;
    color: #f3eded;
    box-shadow: 0 0.1875rem 0.375rem 0 rgba(94, 58, 226, 0.25);
}