.btn-type{
    height: 40px;
    background-color: rgb(247, 247, 247);
    border-color:rgb(218, 215, 215);
    
}
.table-striped{
    border-radius: 7px !important;
    border-color: gray !important;
}
.btn-i{
    border: 1px solid;
    border-radius: 7px;
    padding: 3px;
    margin: 3px;
}
.bd-black{
    border-color: red;
    background-color: black;
    color: white;
}
.bd-blue{
    border-color: blue;
    background-color: blue;
    color: white;
}