/* @import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css'; */
@import '../../Components/Host/LayoutHosting/bstrap/css/bootstrap2.css';
.rmdp-calendar {
    width: 500px;
}
.rmdp-top-class {
    width: 100%;
}
.rmdp-header {
    width: 400px;
}
.rmdp-day-picker {
    display: block !important;
    width: 480px;
}
input {
    border: none;
}

input:focus {
    outline: none; /* Ẩn cả border và đường viền xung quanh khi được chọn */
}
.container-btn-price{
    height: 100px;
}
.btn-luu {
    color: white;
    height: 50px;
    width: 80%;
    border-radius: 7px;
    border: 'solid 1px gray';
    background-color: black;
}
.btn-huy {
    color: gray;
    height: 50px;
    width: 80%;
    border-radius: 7px;
    border: 'solid 1px gray';
    background-color: white;
}
.rounded-3{
    border-radius: 20px !important;
}
.pt-200{
    padding-top:80px;
}
.pb-80{
    padding-bottom: 80px;
}
.evt{
    color: black;
    background-color: blue;
    text-align: center;
    
}
.evt-block{
    border: solid 3px black;
    padding: 2px 2px 2px 2px

}
.evt-blockReservation{
    border: solid 3px black;
    padding: 2px 2px 2px 2px;
    color :black
}