.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
  }
  .overlay.active {
    display: block;
    /* Hiển thị lớp phủ khi cần */
  }.category-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    align-items: center;
    padding: 10px;
  }.appearing-div {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    max-height: 90%;
    width: 550px;
    position: absolute;
    right: 220px;
    top: 130px;
  }
  .appearing-div.active {
    animation: toTop 0.2s ease-in-out;
  }
  @keyframes toTop {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}
.btn-form{
    border: solid 1px !important; 
     border-radius:  '5px'  ;
     background-color: rgb(49, 46, 46);
     color: white;
     
}
.pagination a {
  padding: 0px 6px !important
}
.selected{
  color: black !important;
  border-bottom: solid black;
}
.pointer:hover{
  cursor: pointer;
}